---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="categories">
    <small>Category:</small>
    <span class="category">
      <small> <a href="/categories/{{ category | first }}">{{page.categories}}</a></small>
    </span>
  </div>

  <div class="tags">
    {% assign sortedTags = page.tags | sort %}
    <small>Tags: </small>
    {%for tag in sortedTags %}
      <span class="tag">
        <small> <a href="{{ site.baseurl }}/_posts/{{{ tag }}"> #{{ tag }}</a> </small>
      </span>
    {% endfor %}
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <hr style="height:3px;border:none;border-top:3px double black;" />
  <section class="comments">
    <div class="comment-wrapper">
      {% if site.intensedebate_identifier %}
        <script>
          var idcomments_acct = '1026458b3a9d7f0542e1aa6b86d3ae05';
          var idcomments_post_id;
          var idcomments_post_url;
        </script>
        <script type="text/javascript" src="https://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>
        
        <div id="disqus_thread" class="article-comments"></div>
        
        <script>
          var idcomments_acct = '{{ site.intensedebate_identifier }}';
          var idcomments_post_id;
          var idcomments_post_url;
        </script>
        <span id="IDCommentsPostTitle" style="display:none"></span>
        <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
      {% endif %}
    </div>
  </section>

  <nav>
    <hr style="height:3px;border:none;border-top:3px double black;" />
    <h1 class="page-heading">Categories</h1>

    <ul class="categories">
      {% for category in site.categories %}
        <li>
          <span>
            <a href="/categories/{{ category | first }}">{{ category | first }}</a>
            : {{ category | last | size }} posts
          </span>
        </li>
      {% endfor %}
    </ul>
  </nav>

</article>
